[2015-05-27 14:41] mjoldic opened #1 "route generator creates incorrect templateUrl in routes.ng.js file."
Occurs when creating a route with no model and list/details routes. Routes file contains incorrect templateUrl. It is missing the 'ng'.

[myProject] yo angular-meteor:route main
If you are planning to create a model or list/detail views it is recommended you use a plural route name
? Where would you like to create this route? /client
? Is this a protected route? No
? Would you like to make List/De

[2015-05-27 15:05] ndxbxrme commented on #1
fixed

[2015-05-27 15:05] #1 closed

[2015-05-27 18:09] mjoldic commented on #1
awesome thanks! :-)

[2015-06-03 17:25] mjolda opened #2 "Meteor throws error when compiling due to dashes ('-') when providing name in camelCase"
When running the generator with a name that's in camel case, it generates the objects with dashes in the name.

yo angular-meteor:route testItems would generate the corresponding files as test-item.model.js, etc. The dashes cause Meteor to fail when compiling.

[code]

[2015-06-03 17:30] ndxbxrme commented on #2
html with js?

[2015-06-03 18:29] ndxbxrme commented on #2
That should be fixed now, please give it all a good test and let me know

[2015-06-05 14:09] #2 closed

[2015-07-17 17:35] AhmadEl-Banna opened #3 "WARNING: Tried to load angular more than once"
This happens when choose bower support and add package that depends on angular it self
this is related to issue #223 on angular-meteor repo

Suggested fix:
I think it would be perfect if the generator remove the dependency on mquandalle:bower and generate an independent package with  mquandalle:bower in case of the user choose to add bower support,
and also add main files of bower to the cleint in

[2015-07-17 17:39] ndxbxrme commented on #3
Cheers Ahmad, I'll look into that this evening

[2015-07-17 18:05] AhmadEl-Banna commented on #3
Thank you very much

[2015-07-17 19:52] ndxbxrme commented on #3
I've implemented a fix in v0.10.0 based on @renato's solution in [angular-meteor issue #205](https://github.com/Urigo/angular-meteor/issues/205).  It seems to work a treat.
Give it a shot and let me know what you think, then I'll close the issue.

[2015-07-17 22:02] AhmadEl-Banna commented on #3
Good  job I will try it out

[2015-07-21 13:04] AhmadEl-Banna commented on #3
Works fine thank you.

[2015-07-21 13:05] AhmadEl-Banna opened #4 "Add typescript support"
Is there any plan to support typescript ?

[2015-07-21 13:18] ndxbxrme commented on #4
I'll have a think about it but I'm not promising anything:)
Which is the best Meteor typescript compiler?

[2015-07-21 13:24] AhmadEl-Banna commented on #4
Actually I'm not sure about is it the best compiler or not but what i know is https://github.com/meteor-typescript/meteor-typescript-compiler

[2015-07-25 15:01] AhmadEl-Banna opened #5 "Suggest To use better material template"
Hi @ndxbxrme  , I think It gonna be cool to use https://github.com/flatlogic/angular-material-dashboard
as material template

[2015-07-25 15:57] ndxbxrme commented on #5
Hey Ahmad, that dashboard seems cool but is very broken in IE and might be too complex for a general starter template.

I have actually been thinking about dropping angular-material altogether since google's material design lite seems to work much better.

[2015-07-25 16:30] AhmadEl-Banna commented on #5
Actually I have troubles to get my app looks better with angular material ,and I'm searching for alternative too, but is  google's material design lite  play nicely with angular , or we have too wait for module ,or design a module for it.
 there's another module for material http://ui.lumapps.com/ , but I didn't try it out yet

[2015-07-25 17:06] ndxbxrme commented on #5
[mdl](https://atmospherejs.com/zodiase/mdl) is class-based and works great without the need for special directives etc...  but it is missing a lot of things (eg dialogs,) so I have been falling back to bootstrap for those which isn't a great solution.

lumx looks promising.  There are both atmosphere and bower versions, so I'll give them both a try.

[2015-07-26 18:32] AhmadEl-Banna commented on #5
cool

[2015-07-26 18:45] ndxbxrme commented on #5
I've had mixed results so far, neither version seems to work great out of the box.
The atmosphere version doesn't pull in the CSS and the bower version ends up with a bunch of misplaced/missing stuff.
Using both at once clears up a lot of the errors but still leaves a few.
![image](https://cloud.githubusercontent.com/assets/8391259/8895340/9fa56242-33ce-11e5-8210-438c6ccca4aa.png)
https://github.c

[2015-07-28 08:21] TWKDreamState opened #6 "angular-animate"
Hi,

I have added angular-animate (from the official Atmosphere package) and it breaks the app. The search, pagination and ordering causes the view to keep adding more items to the end of the list! Any idea on why this might be the case?

If I remove it as a dependency from the app.ng.js file, it goes back to working normally.

Many thanks.

EDIT: Interestingly, if I include it with Bower instead

[2015-07-28 08:29] ndxbxrme commented on #6
hey
I have successfully used angular-animate in a meteor app but by that time I've always already removed the boilerplate code.
I'll give it a test and check what is going wrong.
What configuration were you using (coffee/js etc)?

[2015-07-28 08:31] TWKDreamState commented on #6
Many thanks for the prompt response.

I used js, HTML, CSS, pagination support, Bootstrap, Bower, user auth (no oAuth).

I added angular-animate with ..

meteor add angularjs:angular-animate

..and then added the 'ngAnimate' to the app.ng.js.

I'm fairly new to meteor.

[2015-07-28 08:37] TWKDreamState commented on #6
I think it is adding a second version of Angular to the app which might be causing the issues - I'm not sure how to prevent this.

[2015-07-28 08:38] ndxbxrme commented on #6
have you got the latest version of the generator (v0.10.0)?
there was a fix for the multiple angular issue

[2015-07-28 08:44] TWKDreamState commented on #6
I downloaded it yesterday but I will check - was the fix just for Bower or for Atmosphere packages as well?

[2015-07-28 08:46] ndxbxrme commented on #6
If you got it yesterday then it should be the latest.
I've just successfully added angular-animate to a coffee/jade/stylus project, I'm trying JS/HTML/CSS now.

[2015-07-28 08:53] TWKDreamState commented on #6
Hi,

I've just updated the generator (I think it was already the latest version).

I created a new project from scratch, added in the angular-animate atmosphere package (not bower), added the ngAnimate dependency into the app.ng.js and got the same result :( Double-checked in IE and Chrome. Still a second version of angular is being added from the atmosphere packages and still the weird behavior w

[2015-07-28 09:15] ndxbxrme commented on #6
This works for me http://ndxbxrme-animatejstest.meteor.com/
https://github.com/ndxbxrme/issue-animatejs
Could you push your project to git?

[2015-07-28 09:16] TWKDreamState commented on #6
Ok,

When I install angular-animate from Atmosphere, it downloads and installs angularjs:angular version 1.3.15, whereas urigo:angular installs angular:angular 1.4.2 (not angularjs:angular). It this possibly where the issue is being caused? Would it be better to use bower to install?

[2015-07-28 09:19] ndxbxrme commented on #6
I used
meteor add angular:angular-animate
I don't think the angularjs ones are up to date

[2015-07-28 09:19] TWKDreamState commented on #6
I think I see my error. Let me try again. I should be installing with meteor add angular:angular-animate not meteor add angularjs:angular-animate.

[2015-07-28 09:19] TWKDreamState commented on #6
Ah, you beat me to it!!

Many thanks for helping out :)

[2015-07-28 09:19] ndxbxrme commented on #6
no probs

[2015-07-28 09:19] #6 closed

[2015-07-29 18:08] skolade opened #7 "Using with exsisting app"
Will this be possible to use with existing app? Something like

with a none yo angular-meteor, one can just run

yo angular-meteor:init

This will be cool so that one can easily add the necessary files ad folder if not already exist.

[2015-07-29 18:11] ndxbxrme commented on #7
Hey @skolade
That's a great idea.
I'll look into it.

[2015-07-31 15:16] skolade opened #8 "Option for less and scss generator"
Hello, thanks for the hard work. I am willing to help with all of my requests if possible.

Could there be an option for scss and less? I am using some premium admin template and some uses scss while other use less.

[2015-07-31 15:31] ndxbxrme commented on #8
Hey,

I intend to spend a bunch of this weekend refactoring the generator to make it easier for other people to contribute to.  I'll try to add less, scss and initialization while I'm at it.  I'll probably need some help testing those.

At the moment I'm really looking for someone that can help to add Typescript support.

[2015-07-31 19:57] ndxbxrme commented on #8
Less & SCSS added:)
Can you test it with your admin templates and let me know how you get on?

[2015-07-31 21:26] ndxbxrme commented on #7
I've made a start on angular-meteor:init.
There is still a lot I want to add, eg. automatically detecting the appname and finding app.js to add the angular dependencies to it.
It is on the `init` branch which you can find [here](https://github.com/ndxbxrme/generator-angular-meteor/tree/init).
Git clone it, checkout the `init` branch then `npm link` to try it out.
Let me know what you think.

[2015-07-31 22:23] sireskay commented on #8
Thanks will give it a try!

[2015-07-31 22:25] ndxbxrme commented on #8
`npm update generator-angular-meteor` should do it

[2015-07-31 22:32] sireskay commented on #8
quick update, got this error Scss compiler error: invalid top-level expression

[2015-07-31 22:35] ndxbxrme commented on #8
which options did you choose?

[2015-07-31 22:40] sireskay commented on #8
The error might be because the script writes "ECHO is off." on the first line of the app.scss file after the initial application creation. Everything works well with scss.

I chose the Scss option, and now testing out the less portion. I am also doing this with angular-material as an option.

it also affected app.less file once this line is deleted, the application runs as expected!

[2015-07-31 22:43] ndxbxrme commented on #8
Ah, that was stupid of me, bad batchfile stuff:|

I'll fix it and push it in a sec.

[2015-07-31 22:45] sireskay commented on #8
Thanks for you hard work, I love the generator, and I will be referencing your generator in a future blog post that I am about to start regarding the development with Angular-meteor. I am planning on starting an Angular-meteor meetup in Rochester Minnesota, and might reach out to you for a shout out. Thanks Again for the quick addition of this future. I an not familiar with typeScript, but will to

[2015-07-31 22:46] #8 closed

[2015-07-31 22:53] ndxbxrme commented on #8
I've removed the ECHOs.
Thanks for your help, glad you like the generator:)

[2015-08-03 18:34] sireskay commented on #7
I got an undefined error message after I try to run angular-meteor:init command

am I doing somethin wrong?

[2015-08-03 18:46] ndxbxrme commented on #7
I'm not sure, it definitely isn't ready for primetime yet but it kind-of works for me if I `meteor create` a project then run `yo angular-meteor:init` inside the folder (with all the default options.)

What did you try and what was the error message?

[2015-08-03 18:54] sireskay commented on #7
I did one off a seed project, I will try one from you illustration.

[2015-08-04 02:02] skolade opened #9 "Package Generator"
You have a great work here, thank for you effort. I am learning how to create a yeoman generator so that I can fully be able to help you with this. one of the thing that I am thinking of is the package generator. This is because meteor development is moving toward all package everything. The big boilerplate are all practicing the concept of having all feature placed in a package, this will be good

[2015-08-05 08:05] ndxbxrme commented on #9
A package generator is a great idea.
I don't know enough about packages yet to say for sure how simple it will be.
Any help you can offer will be greatly appreciated.
I've made a new branch called `package-generator` to give us somewhere to work.

[2015-08-11 12:35] agung-wete opened #10 "switch to $scope.$meteorCollection and $meteorObject ?"
As official doc says (http://angular-meteor.com/api/meteorCollection and http://angular-meteor.com/api/meteorObject), it is the "recommended ways".
What do you think ?

[2015-08-11 12:39] ndxbxrme commented on #10
I'm down with that
I'll have a go at it this evening, unless you fancy doing it...

[2015-08-11 15:48] ndxbxrme commented on #10
Done (v0.13.0)
Give it a test and let me know

[2015-08-11 23:00] agung-wete commented on #10
:+1: , thank you

[2015-08-12 05:31] #10 closed

[2015-08-12 11:44] agung-wete opened #11 "Pagination stop working after go to detail page"
its issue from tutorial http://angular-meteor.com/tutorials/angular1/search-sort-pagination-and-reactive-vars

assuming 'cat' is my route :

in cat-detail.controller.ng.js change
`$meteor.subscribe('cat');`
TO
`$scope.$meteorSubscribe('cat);`

from [doc](http://angular-meteor.com/api/subscribe) :

also in cat-list.controller.ng.js, there's `$meteor.subscribe`, do we also need to change to     `$sc

[2015-08-12 11:48] ndxbxrme commented on #11
Nice catch.  Looking into it now

[2015-08-12 11:53] agung-wete opened #12 "Feature: Back to same list page after go to detail page"
If we back to list page from detail page, the list always start from page 1 (related #11). With this mod, we can back to same page as before.

cat-list.controller.ng.js

    //page marker
    $meteor.session('kupatCounter').bind($scope, 'page');

and

kupat-list.view.ng.html

    <li dir-paginate="cat in cat | itemsPerPage: perPage" total-items="catCount.count" current-page="page">

[2015-08-12 11:58] ndxbxrme commented on #12
I'll give it a try

[2015-08-12 12:21] ndxbxrme commented on #11
Give v0.13.1 a try

[2015-08-12 12:57] ndxbxrme commented on #12
Works well.  Thanks for the suggestion.  Check out v0.13.2

[2015-08-22 07:24] agung-wete commented on #11
thank you

[2015-08-22 07:24] #11 closed

[2015-08-22 07:24] agung-wete commented on #12
thank you

[2015-08-22 07:24] #12 closed

[2015-08-22 07:28] agung-wete opened #13 "How about adding testing unit ?"
how about adding angular testing (karma, jasmine, and protactor) ?

[2015-08-22 07:31] agung-wete commented on #13
maybe also use velocity :
https://velocity.readme.io/v1.0/docs/getting-started-with-jasmine ?

[2015-08-22 07:32] ndxbxrme commented on #13
I'm really up for that

[2015-08-22 22:27] agung-wete opened #14 "Run 'meteor add' in one go"
How about run 'meteor add' command in one go? i do testing, its quite fast than do it one by one

[2015-08-22 22:34] ndxbxrme commented on #14
Writing the package names directly into /meteor/packages and letting meteor grab them when it needs them would probably be even faster.  It is something I've thought about for a while but it hasn't been slow enough to annoy me into doing anything about it.  I'll give it some more thought...

[2015-08-22 22:37] ndxbxrme commented on #13
Do you have any examples of angular meteor tests?  So far I know how to test angular and meteor separately but I'm having trouble getting it working with angular-meteor.

[2015-08-23 04:09] agung-wete commented on #13
still working on it :confused:
maybe this link help: http://farla.io/2015/05/11/unittesting-angular-meteor.html

[2015-08-23 04:11] agung-wete commented on #14
its slower than manually do `meteor create` and `meteor add ...`

[2015-08-31 16:04] ndxbxrme commented on #14
hey, try the new version 0.14.0

[2015-09-02 19:40] ndxbxrme commented on #14
sorry, forgot to merge, try version 0.15.0

[2015-09-05 09:43] agung-wete commented on #14
ok, testing

[2015-09-05 09:53] agung-wete commented on #14
:+1: , faster than before

[2015-09-26 10:45] otporsad opened #17 "Multiple path error"
Hello, i have this problem: when i want to generate "cars/add" route with  yo angular-meteor:route cars/add the generator completes successfully and prints "create cars/add.controller.ng.js" etc.

I am expecting this result: path/url: cars/add, directory: client/cars/add.
The result i get is: path/url: cars/add, directory: client/cars/add/cars/

Thank you

[2015-09-26 10:49] ndxbxrme commented on #17
hey otporsad
i'll check that out now...

[2015-09-26 10:56] ndxbxrme commented on #17
in the meantime you could do
`yo angular-meteor:route add`
and create it in `client/cars`
but then you'll need to alter the generated route file, so it isn't a great solution
i'll let you know when i have a proper fix

[2015-09-26 11:00] otporsad commented on #17
Great, i will use the workaround, thank you!

[2015-10-02 18:23] datnordstrom opened #18 "SCSS Errors"
While processing files with fourseven:scss (for target web.browser):
   /client/components/nav/nav.scss: Scss compiler error: File to read not found
   or unreadable:
   /Users/uohc/Sites/meteor/personal/{}/client/components/nav/nav.scss

   /client/components/toolbar/toolbar.scss: Scss compiler error: File to read
   not found or unreadable:
   /Users/uohc/Sites/meteor/personal/{}/client/componen

[2015-10-02 18:25] ndxbxrme commented on #18
hey datnordstrom
thanks for the report, I'll look into that now

[2015-10-02 18:38] ndxbxrme commented on #18
check out v0.18.1

[2015-10-02 19:24] #18 closed

[2015-10-08 14:11] Svenskunganka opened #19 "Velocity tests"
I'd like to start a discussion regarding scaffolding tests in this generator. Would be a quite large PR and I'm fairly new to tests overall, but I don't see any issue implementing them.

What I'd like to know:
* Is there any demand for it?
* What testing frameworks would we want implemented? `sanjo:jasmine` is definitely gonna be available, but `mike:mocha` is used by a lot of developers too so th

[2015-10-08 14:31] ndxbxrme commented on #19
hey tom,
I'd love to get some tests integrated into the generator.  I had a look a while ago but ran into difficulties with $meteorCollection.  I'll see if I can dig out the stuff I managed to get working.

[2015-10-08 14:34] ndxbxrme commented on #19
have a look at https://github.com/ndxbxrme/generator-angular-meteor/issues/13
there are a couple of good links in there

[2015-10-08 15:02] Svenskunganka opened #20 "ui-router not fully functional with current setup"
### Issue
I've noticed that `ui-router` and its `$state` is not functioning properly with the current setup. I'm still tracking down the issue but so far I've found these causes:

#### `index.html` and `toolbar` directive
After scaffold, in the index.html there's these lines:
[code]
Normally, the toolbar holds the navigation and route-specific logic but since the toolbar directive is residing outs

[2015-10-08 15:05] Svenskunganka commented on #19
@ndxbxrme Thanks a bunch! I'll look into it a bit more and test my way forth. You'll be able to track my progress in the fork I've got. I'm hoping to get started on it this weekend.
Perhaps we can ping @Urigo about it and ask if he has any experience with angular-meteor tests?

In addition to the tests I'd also like to include an option to select a CI provider configuration. The ones I have in min

[2015-10-08 15:25] ndxbxrme commented on #20
That all looks cool Tom
I'll try to do some tests this evening

[2015-10-09 19:57] Svenskunganka commented on #19
There are lots of good coverage on `angular-meteor` tests in the official package: [Urigo/angular-meteor/packages/angular-meteor-data/tests/integration](https://github.com/Urigo/angular-meteor/tree/master/packages/angular-meteor-data/tests/integration)

[2015-10-09 20:03] ndxbxrme commented on #19
Fantastic

[2015-10-15 02:43] #14 closed

[2015-10-16 16:16] waynethompson opened #22 "After generator angular and ui-router missing"
I create an app without bower and angular, ui-router and ui-bootstrap are missing.

Is there an extra step or is this a bug?

[2015-10-16 22:52] waynethompson commented on #22
I notice if I create with bower the bower file and the settings file is there but there are no packages in the bower file.

[2015-10-17 16:53] ndxbxrme commented on #22
hey wayne,
that's a bug
i'll look into it

[2015-10-17 17:33] bramvdg commented on #22
Same thing happening here

[2015-10-17 18:03] ndxbxrme commented on #22
It actually seems to be a problem with the pagination package that is causing all the issues.
If you make an app without pagination then everything should be ok.
I'm searching for a better solution now...

[2015-10-17 18:32] bramvdg commented on #22
Yap, without the pagination it works nicely :)

[2015-10-17 18:47] ndxbxrme commented on #22
Try updating your generator (v0.18.3)
I've frozen the pagination package at 0.9.0 which seems to have fixed things.

[2015-10-31 17:41] programming-kid opened #23 "Template processing error on start up"
After installing this generator for first time and creating new project i get following errors

[code]
here my options

[code]

these are html files where there are errors

``` main.view.ng.html ```

[code]

node version v0.10.40

Errors are self explanatory but i cant understand why is it happening

Pls help

[2015-11-02 05:45] programming-kid commented on #23
This was my fault i installed meteor on node v0.12 which somehow led to this problem but when i reverted to v0.10.40 it works fine , am closing this now

[2015-11-02 05:45] #23 closed

[2015-11-02 07:30] ndxbxrme commented on #23
hey, programming-kid
sorry i wasn't around
i'm glad you solved your issue

[2015-11-12 09:30] sauliuni opened #24 "Errors on startup"
Doing a clean install, using Meteor 1.2.1. Tried with bower packaging and without, same error. Any Ideas how to fix it?
[code]

[2015-11-12 09:33] ndxbxrme commented on #24
hey sauliuni,
my guess is that meteor 1.2.1 has broken things...
i'll do some testing and get back to you

[2015-11-12 14:27] Svenskunganka commented on #24
@ndxbxrme see [Angular Meteor 1.2.0 released](http://info.meteor.com/blog/angular-meteor-1.2.0) on the Meteor blog.

[2015-11-15 11:23] ndxbxrme commented on #24
hey guys,
try the latest version (v0.19.0)
@j2L4e seems to have fixed it:)

[2015-11-17 19:41] kunwarVivek opened #27 "unable to select javascript"
On windows, while using the generator to create a new app, I am unable to select "javascript" as the script language. By default " Coffee script" is a selected and it is not possible to change at all.

[2015-11-18 10:27] ndxbxrme commented on #27
hey kunwar,
it works for me...
![image](https://cloud.githubusercontent.com/assets/8391259/11238131/90cbd7ee-8ddb-11e5-9777-d227aeff5889.png)
using the up arrow.
what exactly happens when you try to select Javascript?

[2015-11-18 13:44] kunwarVivek commented on #27
Yep, even I am surprised. It just doesn't work for the "javascript" option.
For the rest of the choices, I am able to traverse using up and down arrow
keys. Ex: in the attached screen below, I could select HTML instead of jade
for markup.

.[image: Inline image 1]

Kunwar
+91-9980915147
CamBuzz - Stay connected, Stay informed!
https://play.google.com/store/apps/details?id=com.kapish.buzz

On Wed,

[2015-11-18 13:55] ndxbxrme commented on #27
That really is weird.
What version of windows are you using?  I'm on windows 7.

[2015-11-18 14:11] kunwarVivek commented on #27
I am on windows 10. Even with powershell, I am seeing the same behavior.

Is there a workaround,
- to either change the default selection in the generator to "javascript"
- or to update the configuration after the project is created and then
  re-update the project.

Kunwar
+91-9980915147

On Wed, Nov 18, 2015 at 7:25 PM, kieron wright notifications@github.com
wrote:

[2015-11-18 14:37] ndxbxrme commented on #27
Can you try it with http://cmder.net/ ?
I have a few reservations about changing the default since I set it to coffeescript on purpose.
I'll try to find someone else with windows 10 to test it on.

[2015-11-18 14:54] kunwarVivek commented on #27
Kieron,

Cmder worked like a charm.

The workaround I wanted was only for my local copy of generator but anyway
it is no longer required. Sorry for the confusion.

Thanks.

Kunwar
+91-9980915147

On Wed, Nov 18, 2015 at 8:07 PM, kieron wright notifications@github.com
wrote:

[2015-11-18 15:06] ndxbxrme commented on #27
I'm glad that worked.
Cmder is awesome:)

[2015-12-05 19:18] cupideias opened #28 "Error after update: Cannot find module 'duplexify'"
I updated my generator-angular-meteor and know I have this error:

[code]

Does someone know how to fix it?

[2015-12-05 19:24] ndxbxrme commented on #28
hey diego
i haven't seen that error before, my guess would be that you need to update your version of meteor too.
i'll do some investigating, what is your os and what setup are you choosing?

[2015-12-05 19:29] cupideias commented on #28
I'm using Mac OS X El Captain.
It begin after I update Meteor and the generator-angular-meteor.

[2015-12-18 09:09] yobre opened #29 "How can I include pagination after generating the application?"
During the generation of my app, I chose not to include pagination. But now I need it and I want to include it. How can I do?
Thanks in advance and congratulations for the excellent work.

[2015-12-18 09:25] Svenskunganka commented on #29
You can have a look at what the generator would be generating if you would've chosen pagination. If you chose bootstrap, here's a small portion of it: [generators/app/templates/bootstrap/client/main/main.controller(js).ng.js#L5-L10](https://github.com/ndxbxrme/generator-angular-meteor/blob/master/generators/app/templates/bootstrap/client/main/main.controller%28js%29.ng.js#L5-L10)

What you want to

[2015-12-18 09:29] yobre commented on #29
Thank you so much @Svenskunganka  for rapid response.
I close the issue and proceed as you suggested!
yo

[2015-12-18 09:29] #29 closed

[2015-12-18 09:32] ndxbxrme commented on #29
thanks Tom!

[2015-12-18 09:38] Svenskunganka commented on #29
@yobre @ndxbxrme no problem!

@yobre It's a bit hard to read through and find everything in the generator due to the mixing of Yeoman and the actual code, so if you run into any issues in your attempt to re-implement pagination just write here and I'll gather the code you need to get it going.

[2015-12-18 09:42] yobre commented on #29
Wow .. you really a great @Svenskunganka ! Thank you so much ... You're very kind!

[2015-12-22 17:41] rgstephens opened #30 "Replace $meteorCollection with helpers API"
Shouldn't the use of $meteorCollection be replaced with the helpers API based on the fact that $meteorCollection has been [deprecated](http://www.angular-meteor.com/api/1.3.0/meteorCollection)?

[2015-12-22 17:48] ndxbxrme commented on #30
hey greg,
you are right

[2015-12-23 09:26] yobre commented on #29
Hi Tom,
I can still take advantage of your kindness?

I was trying to integrate this package Atmosphere (https://atmospherejs.com/dsyko/node-csv-npm https://atmospherejs.com/dsyko/node-csv-npm) for exporting CSV but I just can not figure out where to put the code.

This problem is caused my little experience with angular-meteor so forgive me for the questions you pose.

Thanks in advance for your

[2015-12-23 09:50] Svenskunganka commented on #29
Hey Andrea! Of course, I enjoy being of help!

Looking at the package you mentioned, I can see that it is outdated and not actively maintained - so I disregard from using that.

I've actually developed a very similar function to export stored data to Excel - but CSV shouldn't be too different. But before I can help any further, I need to know some things. If you have a Gitter account, I am availab

[2015-12-29 10:15] albertonaperijr opened #31 "Arrow keys not working when selecting packages"
Hello,

I run ```yo angular-meteor appName``` and it prompt ```What would you like to write scripts with? (Use arrow keys)``` and there are 2 options ```JavaScript``` and ```CoffeeScript```.
```CoffeeScript``` is selected by default but when I try to select ```JavaScript``` using the arrow keys it's not responding. Can anyone help me with this problem?
By the way, my OS is windows 10.

Thanks.

[2015-12-29 20:43] Svenskunganka commented on #31
Try running it in a Git Bash shell instead of Windows Command Prompt (assuming you have Git installed on your PC).

Node have a long history of being a bit wonky on Windows. I believe this issue is related: [SBoudrias/Inquirer.js#235](https://github.com/SBoudrias/Inquirer.js/issues/235)

[2015-12-29 22:56] ndxbxrme commented on #31
Hey Alberto,

Tom is right.  This issue has come up before (https://github.com/ndxbxrme/generator-angular-meteor/issues/27) and I still don't have a better solution than using a different terminal client.  I still recommend http://cmder.net/

[2015-12-30 00:10] bebertz93 commented on #31
@Svenskunganka I'm already using git bash when I encountered the issue.
@ndxbxrme I've tried Cmder but I'm still encountering the same issue. Arrow keys are not working.

Hope you can help me with this!

Thanks.

[2015-12-30 07:24] Svenskunganka commented on #31
@albertonaperijr
as much as we want to, this is outside the `$scope` of this project (see what I did there? :stuck_out_tongue_winking_eye:).

Jokes aside, the issue must lay with [Inquirer.js](https://github.com/SBoudrias/Inquirer.js) as used by [yeoman/generator](https://github.com/yeoman/generator/blob/master/package.json#L52) so this issue is probably best fitted in that repo.

[2015-12-30 12:54] ndxbxrme commented on #31
hey alberto
are the arrow keys only broken for the first question?
if so, maybe i can add a dummy first question for windows10 users.
i don't have a windows 10 computer to test on so could you try this and let me know what the output is?

[code]

[2015-12-30 13:19] bebertz93 commented on #31
Hi @ndxbxrme
I've tried what you said. Please see attached image for the output.

![capture](https://cloud.githubusercontent.com/assets/8272411/12051197/f5006b50-af3a-11e5-8bde-1d378eee8e7a.PNG)

[2015-12-30 13:41] ndxbxrme commented on #31
hey
could you give the latest version of the generator a try? (v0.19.1)

[2015-12-30 21:03] bebertz93 commented on #31
Hi @ndxbxrme
Works like a charm. Thank you so much.

[2015-12-31 18:25] johhansantana commented on #3
Hi there, I'm still having this issue, I created a brand new project, then proceed on creating a route, it worked fine, but after I created a second route I get the error:

[code]

I have the `bower.json` file like this:

[code]

but still no fix to the issue.

[2015-12-31 18:33] donedgardo commented on #3
I can confirm this bug too, once I created the meteor-angular app with bower install options 'Yes'. Creating two consecutive routes with angular-meteor:route 'testroute2'; the first one loads well, where the second one comes up with: Tried to load angular twice error.

[2015-12-31 18:37] ndxbxrme commented on #3
I'll look into it

[2016-01-10 16:48] ndxbxrme commented on #30
hey,
try the latest version (v0.20.0)

[2016-01-10 16:54] #27 closed

[2016-01-10 17:37] ndxbxrme commented on #3
hey guys,
i'm having trouble recreating this issue
which version of the generator are you using and which options are you selecting?

[2016-01-11 00:38] rgstephens commented on #30
Thanks

[2016-01-12 13:56] rauleb commented on #30
How I can use the methods save, remove, etc. present in meteorCollection?

[2016-01-12 15:56] rauleb opened #32 "Generator bug save and remove"
On the generator example CRUD of things, the $scope.things.save and $scope.things.remove don't work.
I resolved to implement the current documentation.

$scope.save = function() {
    if ($scope.form.$valid) {
      Things.insert($scope.newThing);
      $scope.newThing = {};
    }
  };
and
 $scope.remove = function(thing) {
    Things.remove({_id: thing._id});
  };

It would be good to update the

[2016-01-12 15:57] ndxbxrme commented on #30
hey Raúl
it looks like meteorCollection is going to be removed in future releases of angular-meteor along with those great helper functions.  The angular-meteor tutorial now recommends using the regular mongo methods...
![image](https://cloud.githubusercontent.com/assets/8391259/12268455/d0745a58-b944-11e5-98f7-5cd3616d724b.png)
![image](https://cloud.githubusercontent.com/assets/8391259/12268465/

[2016-01-12 15:58] ndxbxrme commented on #32
well spotted, i thought I'd updated them all

[2016-01-12 16:02] rauleburro commented on #30
Thanks

[2016-01-12 16:21] ndxbxrme commented on #32
hey,
check out the latest version (v0.20.1)

[2016-01-12 16:29] rauleburro commented on #32
Is fixed, thanks

[2016-01-12 16:29] #32 closed

[2016-01-12 17:15] alber70g commented on #4
Any progress on this one? I'd like to use TypeScript over Coffeescript since Angular2 is built with it.

And if not, is there a way to quickly add it to the project like the other non-mandatory packages?

[2016-01-12 20:34] ndxbxrme commented on #4
Hi Albert,
I don't think that I know enough about typescript to make a good job of it right now.
I'd love to add it to the generator if anyone thinks they can help:)
Otherwise, I'll attempt to learn and add it soon.

[2016-01-17 19:16] donedgardo commented on #30
Hey thanks for the update. @ndxbxrme

[2016-01-18 13:11] johhansantana commented on #3
I was able to fix it by just making "bower": false in .yo-rc.json file

[code]

How do I verify my current generator version?

[2016-01-18 13:18] ndxbxrme commented on #3
that's very interesting.
you can find your version by running

[code]

[2016-01-18 13:28] ndxbxrme commented on #3
can you give the latest version (0.20.3) a try?

[2016-01-21 05:30] donedgardo opened #33 "New helpers api remove function broken on route generator with list"
Remove function not working with latest update.
[code]
should be `lawyer._id` instead of `lawyer.id`
Also running into warning: `overriding 'lawyersCount helper'`

[2016-01-21 05:43] donedgardo opened #34 "New helpers api gets called indefenetly."
[code]
I keep getting this waring `1001 overriding 'saveLawyer helper'`
the 1001 is a counter that keeps going up.

Also now i have 1001 documents inserted into Lawyers collection.
And I am not calling the helper anywhere else.

[2016-01-21 08:42] ndxbxrme commented on #34
I don't think you should put your save function inside $scope.helpers, a lot of crazy magic happens in there.

[code]

should do it

[2016-01-21 08:44] ndxbxrme commented on #33
cheers donedgardo,
i'll look in to it

[2016-01-21 19:47] donedgardo commented on #34
Great, works like a charm thanks for the quick response.

[2016-01-21 19:47] #34 closed

[2016-01-27 10:30] agung-wete commented on #19
fix broken link :arrow_forward:
 https://github.com/Urigo/angular-meteor/tree/test/meteor-object-tests/tests/integration

[2016-02-01 01:04] Urigo commented on #19
https://github.com/Urigo/angular-meteor/tree/master/packages/angular-meteor-data/tests/integration

[2016-02-08 17:50] eric-2d opened #35 "Versions of components"
Thanks for making this, works great so far.

How do I know which versions of the 'bricks' are installed?
I'm trying to use the components from ui-boostrap but can't get a drop down or a date picker to open.
I'm probably reading the wrong version of the docs

Here's my setup:

  {
    "generator-angular-meteor": {
      "filters": {
        "js": true,
        "html": true,
        "css": true,

[2016-02-08 18:43] eric-2d commented on #35
I think I found the versions in `.meteor/versions`

However how I can update
`angularui:angular-ui-bootstrap@0.13.0`
to the latest version (1.1.2)?

[2016-02-08 20:11] ndxbxrme commented on #35
hey eric,
the generator should use the latest available versions.
you can force a version of a package using

[code]

but i've just tried that and i get a version doesn't exist error.

i've tested making a blank regular meteor project and adding ui-bootstrap to it

[code]

and the version that gets installed is 0.13.0.

i think that must be the latest version in atmosphere.

the dropdown and datep

[2016-02-08 21:28] eric-2d commented on #35
hey kieron

Don't worry about it, I got it working after figuring out the version and reading the appropriate doc. So all good.

Weird that there is such a big gap in versions though.

Thanks for the help and extra info!

[2016-02-08 21:28] #35 closed

[2016-02-09 07:35] sanathpathiraja commented on #31
Still have issue.
Can't select java script using arrow key

[2016-02-09 11:09] ndxbxrme commented on #31
hi Sanath
are you using windows 10?
what have you tried so far?

[2016-02-10 10:16] sanathpathiraja commented on #31
I'm using windows 8.1.
Also I try to use http://cmder.net/ .But still have issue
![sedcwaed](https://cloud.githubusercontent.com/assets/15152648/12944502/7a8ec59e-d00d-11e5-8afc-3bfd28c87c73.JPG)

[2016-02-11 17:28] makkesk8 opened #36 "Error: EACCES, mkdir '/appName'"
**Running** ```yo angular-meteor appName``` results in:

[code]

**Versions:** npm 3.7.1, node 4.3.0, Meteor 1.2.1 in Centos 6.7

All installed and working properly.

**Running** ```sudo yo angular-meteor appName``` results in:

[code]

[2016-02-12 10:01] ndxbxrme commented on #36
hey marcus,
i'm not sure what is going on there.  it looks like meteor is having troubles creating it's directory.
the only thing the generator does at that point is to run

[code]

does that command work for you?

i'll try making a centos virtual machine this weekend to see if i can recreate the issue

[2016-02-12 13:45] ColonelBundy commented on #36
Hi there!

Yup, `meteor create appName` Works just fine :)

[2016-03-19 09:50] #33 closed

[2016-03-19 16:26] haipham23 opened #39 "Replace deprecated method $meteor.requireUser()"
It can be replaced by creating a service like this:

    function auth() {
      var deferred = $q.defer();

      if (Meteor.user() === null) {
        deferred.reject('AUTH_REQUIRED');
      } else {
       deferred.resolve(Meteor.user());
      }
        return deferred.promise;
    }

And adding this one to the route:

    resolve: {
      currentUser: ['utils', '$state', function(utils, $stat

[2016-03-19 16:32] haipham23 opened #40 "Bower is not usable"
I install package using bower, such as: `bower install --save angularjs-slider`
Then I run `meteor` and get the following message

    While building the application:
    error: Bower dependencies list must be a dictionary in bower_components\angularjs-slider\bower.json
    packages/bower/plugin/handler.js:209:1: Cannot read property 'name' of undefined (compiling
    bower_components/angularjs-sl

[2016-03-21 11:48] ndxbxrme commented on #39
cheers @haipham23
i'll look into it

[2016-03-21 11:50] ndxbxrme commented on #40
hey @haipham23
i'll try to recreate the issue tonight

[2016-04-05 21:39] mmccoy opened #41 "Generation fails @ events.js:141"
[code]

[2016-04-05 21:40] austin94 opened #42 "Error: ENOENT: no such file or directory,"
While trying to create a basic meteor-angular application I am getting the error below.  It is creating the basic directory, but not including any customizations.

I believe it is just running the ``meteor create appName`` command

[code]

Do you have any known work-arounds for this.

NPM version: 3.6.0
Node version: v5.7.1

[2016-04-05 21:47] austingreendev commented on #41
I have also gone back several version and am still seeing this issue. Same as mine in #42

[2016-04-06 01:46] austingreendev commented on #41
@mmccoy I have found a workaround for this issue.  It is occurring because the new version of meteor creates a directory and naming structure with the `meteor create` command which it is not looking for.

To correct the issue I followed the directions in the CONTRIBUTING.md file to create a local developer linked version of the generator.  Then I corrected line 199 in src/app/index.coffee to be

[

[2016-04-06 05:39] StokedIndustries commented on #42
I just got this same error, was wondering what happened

[2016-04-06 14:30] jsantana90 opened #43 "Compatible with meteor 1.3?"
Hello there.

With the release of Meteor 1.3, I was wondering if this generator is compatible with it as I've been using it with Meteor 1.2.

Thanks!

[2016-04-07 12:19] theiwaz commented on #41
updated it but didn't work for me

[2016-04-11 07:35] digvijaybhakuni commented on #42
getting the same error
`
To run your new app:
  cd acmApp
  meteor

If you are new to Meteor, try some of the learning resources here:
  https://www.meteor.com/learn

events.js:141
      throw er; // Unhandled 'error' event
      ^

Error: ENOENT: no such file or directory, unlink '/home/ubuntu/workspace/acm/acmApp/acmApp.html'
    at Error (native)
    at Object.fs.unlinkSync (fs.js:932:18)
    a

[2016-04-11 14:04] austingreendev commented on #42
@digvijaybhakuni I mentioned a quick-fix to this in #41 .  This may help you or it may not, but it would be worth a shot.

[2016-04-12 07:28] ndxbxrme commented on #40
hey @haipham23
sorry i haven't been around.
your issue is being caused by the mquandalle-bower package getting upset when it can't find a dependencies list in bower.json of the package being installed.  it seems to be a known issue but it isn't one that is going to be fixed https://github.com/mquandalle/meteor-bower/issues/107

it also looks like mquandalle-bower won't be supporting meteor 1.3

re

[2016-04-12 08:02] ndxbxrme commented on #41
hey guys
sorry i haven't been around

i can fix the ENOENT issue but that unleashes a whole slew of new errors
![image](https://cloud.githubusercontent.com/assets/8391259/14453465/f4259ffe-008c-11e6-8e0e-b37f65b97356.png)

i'm going to implement the fix suggested by @austin94 until i can make the generator meteor1.3 compatible

[2016-04-12 08:09] ndxbxrme commented on #41
try the new version (v0.20.7)

[2016-04-12 08:21] ndxbxrme commented on #43
hey @jsantana90

the generator currently makes a huge mess of meteor1.3
![image](https://cloud.githubusercontent.com/assets/8391259/14453948/b3bab9e2-008f-11e6-86e5-517b27c4d27b.png)

i've created a new branch to work on compatibility
https://github.com/ndxbxrme/generator-angular-meteor/tree/meteor1point3
any help would be appreciated

[2016-04-12 08:25] ndxbxrme commented on #42
hey guys
this is an issue with the generator not currently being compatible with meteor1.3 https://github.com/ndxbxrme/generator-angular-meteor/issues/41
i've implemented the temporary fix suggested by @austin94
and there is an effort underway to make it compatible with 1.3 https://github.com/ndxbxrme/generator-angular-meteor/issues/43

check out the new version (v0.20.7)

[2016-04-12 12:29] austingreendev commented on #41
@ndxbxrme Thank you for the update. This is a great tool and this issue is in every other tool currently including the iron-router CLI.

Thanks for the fast reply.

[2016-04-12 20:48] johhansantana commented on #43
ok, I'm currently studying the best way to structure a meteor 1.3 app, I will try to help in my spare time.

[2016-04-13 06:23] ndxbxrme commented on #43
that would be great!

[2016-04-21 13:11] telemakhos commented on #4
+1

Angular2 is around the corner...

[2016-04-22 16:08] csbenjamin commented on #4
I think there should be a generator-angular2-meteor instead adding typescript support to this project

[2016-04-25 06:45] ndxbxrme commented on #4
i agree with @csbenjamin

[2016-04-26 00:05] huss22 commented on #43
Hi,

I think it has to do with the modules package. As it forces you to follow best practices. Which isn't automatically loaded as part of the update to 1.3 as of 1.3.2.2. I successfully updated my project to 1.3.2.2 without the issues you see above and I was seeing before. Let me know if I can help test, I created a fresh project and updated without issues to confirm it's working.

Tested with:
?

[2016-04-26 10:30] ndxbxrme commented on #43
hi Hasnain

that's really interesting
i'll give it a try tonight

[2016-04-27 04:35] donedgardo commented on #43
@huss22 @ndxbxrme
From [mquandalle/meteor-bower](https://github.com/mquandalle/meteor-bower/#bower-for-meteor):

Best choice is to remove the question.

[2016-04-27 07:33] huss22 commented on #43
@donedgardo I think the issue I was having was more related to the modules package in meteor 1.3 and dotansimha:accounts-ui-angular, but agree with you on removing bower as well from the generator for 1.3 as it's no longer supported.

But I would suggest keeping the question open until the generator can successfully handle 1.3?

[2016-04-27 15:53] donedgardo commented on #43
@huss22 working on it atm, goint to change to angular-babel that comes with ng-annotate and use npm import syntax for angular, angular-meteor

[2016-05-06 07:57] yobre commented on #1
hi @ndxbxrme where have u fix the bug? Not in master, it seems.
Thanks

[2016-05-14 11:49] mikkelking commented on #43
I took the work done already by Edgardo Carreras @donedgardo to remove Bower, and took the last references out.

When you first run the generator, it does a "meteor create", which unfortunately creates a main.js, main.html and main.css, which is part of the problem.

I have forked the repo to https://github.com/mikkelking/generator-angular-meteor which directly loads Meteor 1.3.2.4

This still blo

[2016-05-16 02:19] mikkelking commented on #43
I took the above and integrated them into the generator, so it works smoothly now. I have done a pull request to get these changes merged.

[2016-05-16 02:33] mikkelking commented on #40
With Meteor 1.3 Bower is deprecated in favour of NPM, although this doesn't really solve the problem.

[2016-06-14 22:15] ndxbxrme commented on #43
hey guys
the generator(v0.21.0) is now 1.3 compatible
thanks for all your input!

[2016-06-15 12:57] mikkelking commented on #43
Thanks Kieron, good work, any more changes in the pipeline?

[2016-06-17 06:57] ndxbxrme commented on #43
cheers mike
the next thing on my list is to try and clear this warning
![image](https://cloud.githubusercontent.com/assets/8391259/16142846/d85624f8-3460-11e6-8774-a6b97674789e.png)
i thought it was being caused by the angular version number having an underscore in it, but i'm not so sure now
after that i'd like to integrate e2e tests and tidy up the templates a bit

[2016-06-17 08:55] mikkelking commented on #43
That's a pretty old version of angular it is expecting. It will be an
npm package dependency that needs to be updated to get with Angular
1.5+. I'll try and find time to look

I ran the new version up, and it generates new pages ok, but doesn't
update the menus, so right now you manually need to update the
navigation buttons to integrate it. I was wondering if a list of the
pages could be stored i

[2016-06-20 20:49] ndxbxrme commented on #43
i love the idea of auto generating menus and it's something i've considered before but i came to the conclusion that they are out of the scope of this project.
things like menus and redirection are very subjective and every dev handles them differently.  i don't think we could provide a solution that would work well for everyone.
sorry to be such a downer:(

the angular version warning only rears

[2016-07-01 23:34] nathanbrizzee opened #45 "Angular Material application template with sidebar navigation menu"
Hi, I was able to take a generated Angular Material application and combine it with code from https://github.com/sovanna/angular-material-sidenav to get a full sidebar menu like the Angular Material website uses: https://material.angularjs.org/latest/ .  This is an initial pass and still has some issues.  For instance, the sidebar menu will not fill the screen vertically on a desktop browser, but

[2016-08-01 13:37] ansaries opened #46 "Nothings loading from node_modules"
Hi there,
i have tried to start a new app, everything is working fine as long as i use the command meteor add package-name however if i try and add anything using meteor npm install package-name, it installs the package in the node_module folder but doesnt load it. forexample i want ionic-sdk which is not available on atmosphere so now i installed it using npm install, after which its available in

[2016-08-03 20:07] ansaries commented on #46
I am still stuck and planning to move to meteor standard app because of this reason. Any advise at this point will be highly appreciated.

[2016-08-04 06:44] ndxbxrme commented on #46
hi ansaries
so far i've only ever used npm for serverside packages, including them like this
`import request from 'request';`
or
`var Fiber = Npm.require('fibers');`
i always preferred bower for clientside packages but that option has been taken away from us recently.
i'll have a mess around and see if i can figure it out for you.

[2016-08-04 07:15] ndxbxrme commented on #46
our ionic implementation uses https://atmospherejs.com/driftyco/ionic
`meteor add driftyco:ionic`
but since meteor 1.41 seems to have broken the generator i can't test it for you at the moment:(

[2016-08-04 07:51] ansaries commented on #46
hi there...
thanks for the reply. I am at meteor 1.4 and haven't upgraded. Your generator is awesome, I have created almost 70% of my app in just only a few days.
I am using both Ionic and ui-bootstrap for my application and making a hybrid application for both web and cordova.
Actually I am struggling with angular-ui-bootstrap now as i also used the driftyco:ionic for the ionic implementation. Th

[2016-08-14 11:56] developer-lindner commented on #41
Got a similar issue:

[code]

[2017-01-24 05:45] mikkelking opened #47 "Angular2 version?"
Do you have any plans to provide ng2 support? I am willing to help, as I'm sure a few others would be. I am starting a new project and would like to use ng2 with Meteor, and can make some time to get this off the ground.

Anyone willing to pitch in? I'm sure if we have a few helpers we could roll this out quickly

[2017-01-25 09:08] ndxbxrme commented on #47
hey mike
i've considered adding ng2 support but don't know it well enough to attempt it myself.
i also wasn't sure whether it should be added to the current generator or if it would be easier to spawn a separate ng2 generator.
i'm happy to help if you fancy having a go.

[2017-01-25 10:06] mikkelking commented on #47
Kieron,

It might indeed be easier to create a separate generator.

I've been trying to get one of the Angular2 Meteor tutorials to work, but ended up in npm dependency hell. I need to make a start somewhere.

Cheers

Mike

On 25/1/17 8:08 pm, kieron wright wrote:

hey mike
i've considered adding ng2 support but don't know it well enough to attempt it myself.
i also wasn't sure whether it should b

[2017-02-01 02:48] mikkelking commented on #47
Kieron,

I have made a start, but in fact I am bringing the current version up to date first. With the latest angular-meteor the .ng. in the file names is no longer necessary, so I have fixed that, and also improved the package updating. I will also change the location of the files to suit the current angular-meteor recommendations.

Could you add me as a contributor to this project? I'm happy if

[2017-02-03 07:36] ndxbxrme commented on #47
Hey Mike

Sounds good.  Once you're happy with it submit a pull request then I'll give it a once over.  I think you should get added as a contributor automatically.  If not, we'll figure it out.

My devs all rely daily on the coffeescript/jade/stylus routes so don't forget them;)

[2017-04-08 15:44] mahidaparth7 opened #48 "Unable to load modules from node-modules"
I am trying to add a node package and load in frontend but not successfull. where should I inject child modules?

[2017-04-09 22:29] ndxbxrme commented on #48
hey mahidaparth7
try using require
this works for me clientside
```meteor npm install --save underscore```
[code]